img{
    width: 80%;
    height: 150px;
    margin-bottom: 0.5%;
    margin-top: 5%;
    border-radius: 5px;
}
h1{
     font-family: "Outfit", sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}
.card{
    
    box-shadow: 0 0 8px 0 ;
    margin: auto;
    text-align: center;
    max-width: 170px;
    max-height: 290px;
    border-radius: 5px;
    background-color: white;
    align-items: center;
}
p{
    font-family: "Outfit", sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal; 
    color: rgb(161, 159, 159);
     margin-bottom: 90px;
    
}
body{
     margin-bottom: 20%;
    margin-top: 20%;
    height: 100%;
    background-color: rgb(207, 227, 230);
}
@media(min-width:375px) {
.card{
    
    box-shadow: 0 0 8px 0 ;
    margin: auto;
    text-align: center;
    max-width: 170px;
    max-height: 290px;
    border-radius: 5px;
    background-color: white;
    align-items: center;
}
}

@media(min-width: 1440px){
    .card{
    
    box-shadow: 0 0 8px 0 ;
    margin: auto;
    text-align: center;
    max-width: 170px;
    max-height: 290px;
    border-radius: 5px;
    background-color: white;
    align-items: center;
}
}
     

